.unslider{overflow:auto;margin:0;padding:0}.unslider-wrap{position:relative}.unslider-wrap.unslider-carousel>li{float:left}.unslider-vertical>ul{height:100%}.unslider-vertical li{float:none;width:100%}.unslider-fade{position:relative}.unslider-fade .unslider-wrap li{position:absolute;left:0;top:0;right:0;z-index:8}.unslider-fade .unslider-wrap li.unslider-active{z-index:10}.unslider li,.unslider ol,.unslider ul{list-style:none;margin:0;padding:0;border:none}.unslider-arrow{position:absolute;top:650px;left:20px;z-index:2;cursor:pointer}.unslider-arrow.next{left:auto;right:20px}

@media screen and (max-width:1920px){
	.unslider-arrow{
		top:550px;
	}
}	
@media screen and (max-width:1600px){
	.unslider-arrow{
		top:480px;
	}
}
@media screen and (max-width:1536px){
	.unslider-arrow{
		top:450px;
	}
}	
@media screen and (max-width:1440px){
	.unslider-arrow{
		top:430px;
	}
}
@media screen and (max-width:1280px){
	.unslider-arrow{
		top:390px;
	}
}	
@media screen and (max-width:1024px){
	.unslider-arrow{
		top:330px;
	}
}
@media screen and (max-width:872px){
	.unslider-arrow{
		top:400px;
	}
}
@media screen and (max-width:848px){
	.unslider-arrow{
		top:380px;
	}
}
@media screen and (max-width:768px){
	.unslider-arrow{
		top:370px;
	}
}
@media screen and (max-width:772px){
	.unslider-arrow{
		top:295px;
	}
}	
@media screen and (max-width:552px){
	.unslider-arrow{
		top:200px;
	}
}	
@media screen and (max-width:356px){
	.unslider-arrow{
		top:135px;
		left:10px;		
	}
	.unslider-arrow.next{
		right:10px;
	}
}	